@font-face {
  font-family: 'FilsonProLight';
  src: url("../_assets/filsonpro_light/filsonprolight.eot");
  /* IE9 Compat Modes */
  src: url("../_assets/filsonpro_light/filsonprolight.eot?#iefix") format("embedded-opentype"), url("../_assets/filsonpro_light/filsonprolight.woff2") format("woff2"), url("../_assets/filsonpro_light/filsonprolight.woff") format("woff"), url("../_assets/filsonpro_light/filsonprolight.ttf") format("truetype"), url("../_assets/filsonpro_light/filsonprolight.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  margin: 0; }

h1, h2, h3, h4, p, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: "FilsonProLight";
  font-weight: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures;
  /* for up-to-date browsers, including IE10 and Opera 21 */
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal; }

p {
  font-size: 1.8rem;
  margin: 2rem 3rem;
  line-height: 2.5rem; }

h2 {
  text-align: center;
  font-size: 7vw;
  margin: 4rem 3rem 1rem 3rem; }
  h2 a {
    color: black;
    text-decoration: none; }

a {
  text-decoration: none;
  border-bottom: 5px #9FF299 solid;
  color: inherit;
}

a:hover {
  background-color: #9FF299;
}

.row {
  width: 100%;
  padding-bottom: 4rem; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.col-2 {
  float: left;
  width: 100%; }

[class*='col-'] {
  padding-right: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.logo {
  display: block;
  margin: 4vh auto 2vh auto;
  height: 14vh;
  z-index: 100;
  position: relative; }

.bubble-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 80vh;
  background-color: #9FF299;
  background: -moz-linear-gradient(#9FF299, #85ef7e);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(#9FF299, #85ef7e);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(#9FF299, #85ef7e);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.bubble-box > p {
  color: #fff;
  padding-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  position: relative;
  z-index: 10;
  font-size: 5.5rem;
  margin-top: 0;
  line-height: 1.2;
}

.bubble-box > p:first-of-type {
  padding-top: 5rem;
}

.glow {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  border-radius: 200px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(176, 244, 171, 0.18) 0%, rgba(176, 244, 171, 0.83) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(176, 244, 171, 0.18) 0%, rgba(176, 244, 171, 0.83) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(176, 244, 171, 0.18) 0%, rgba(176, 244, 171, 0.83) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

@keyframes bubbleUp {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0; }
  1% {
    -webkit-transform: scale(0.3);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0.8);
    opacity: 1; }
  95% {
    bottom: 85vh;
    -webkit-transform: scale(0.3);
    opacity: 1; }
  99% {
    bottom: 95vh;
    -webkit-transform: scale(3);
    opacity: 0; }
  100% {
    bottom: 0px;
    -webkit-transform: scale(0.9);
    opacity: 0; } }
@keyframes bubbleUp {
  0% {
    -moz-transform: scale(0.9);
    opacity: 0; }
  1% {
    -moz-transform: scale(0.3);
    opacity: 0; }
  30% {
    -moz-transform: scale(0.8);
    opacity: 1; }
  95% {
    bottom: 85vh;
    -moz-transform: scale(0.3);
    opacity: 1; }
  99% {
    bottom: 95vh;
    -moz-transform: scale(3);
    opacity: 0; }
  100% {
    bottom: 0px;
    -moz-transform: scale(0.9);
    opacity: 0; } }
@keyframes bubbleUp {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0; }
  1% {
    -webkit-transform: scale(0.3);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0.8);
    opacity: 1; }
  95% {
    bottom: 85vh;
    -o-transform: scale(0.3);
    opacity: 1; }
  99% {
    bottom: 95vh;
    -o-transform: scale(3);
    opacity: 0; }
  100% {
    bottom: 0px;
    -o-transform: scale(0.9);
    opacity: 0; } }
@keyframes bubbleUp {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  1% {
    transform: scale(0.3);
    opacity: 0; }
  30% {
    transform: scale(0.8);
    opacity: 1; }
  95% {
    bottom: 85vh;
    transform: scale(0.3);
    opacity: 1; }
  99% {
    bottom: 95vh;
    transform: scale(3);
    opacity: 0; }
  100% {
    bottom: 0px;
    transform: scale(0.9);
    opacity: 0; } }
.bubble {
  position: absolute;
  display: block;
  border: 5px solid #b0f4ab;
  border-radius: 100px;
  z-index: 1; }

.bubble:nth-of-type(1) {
  left: 10%;
  bottom: 0px;
  width: 60px;
  height: 60px;
  animation: bubbleUp 4.8s infinite ease-in-out;
  -webkit-animation: bubbleUp 4.8s infinite ease-in-out;
  -o-animation: bubbleUp 4.8s infinite ease-in-out;
  -moz-animation: bubbleUp 4.8s infinite ease-in-out;
  animation-delay: 1.2s; }

.bubble:nth-of-type(2) {
  left: 20%;
  bottom: 90px;
  width: 112px;
  height: 112px;
  animation: bubbleUp 6s infinite ease-in-out;
  -webkit-animation: bubbleUp 6s infinite ease-in-out;
  -o-animation: bubbleUp 6s infinite ease-in-out;
  -moz-animation: bubbleUp 6s infinite ease-in-out;
  animation-delay: 1s; }

.bubble:nth-of-type(3) {
  left: 30%;
  bottom: 10px;
  width: 70px;
  height: 70px;
  animation: bubbleUp 4s infinite ease-in-out;
  -webkit-animation: bubbleUp 4s infinite ease-in-out;
  -o-animation: bubbleUp 4s infinite ease-in-out;
  -moz-animation: bubbleUp 4s infinite ease-in-out;
  animation-delay: 0.2s; }

.bubble:nth-of-type(4) {
  left: 46%;
  bottom: 40px;
  width: 86px;
  height: 86px;
  animation: bubbleUp 5.1s infinite ease-in-out;
  -webkit-animation: bubbleUp 5.1s infinite ease-in-out;
  -o-animation: bubbleUp 5.1s infinite ease-in-out;
  -moz-animation: bubbleUp 5.1s infinite ease-in-out;
  animation-delay: 0.6s; }

.bubble:nth-of-type(5) {
  left: 60%;
  bottom: 60px;
  width: 55px;
  height: 55px;
  animation: bubbleUp 3s infinite ease-in-out;
  -webkit-animation: bubbleUp 3s infinite ease-in-out;
  -o-animation: bubbleUp 3s infinite ease-in-out;
  -moz-animation: bubbleUp 3s infinite ease-in-out;
  animation-delay: 0.1s; }

.bubble:nth-of-type(6) {
  left: 80%;
  bottom: 6px;
  width: 40px;
  height: 40px;
  animation: bubbleUp 5s infinite ease-in-out;
  -webkit-animation: bubbleUp 5s infinite ease-in-out;
  -o-animation: bubbleUp 5s infinite ease-in-out;
  -moz-animation: bubbleUp 5s infinite ease-in-out; }

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2rem 0 1.5em;
}

.portfolio > div {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.portfolio a {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 1rem 2rem;
  padding: .5rem;
}

a.portfolio-img {
  width: 100%;
  padding-bottom: 60%;
  height: 0;
  position: relative;
  margin-bottom: 1rem;
  border-bottom: none;
  text-align: left;
  margin: 0;
}

.portfolio img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.molecules {
  text-align: center;
  width: 100%;
  background-image: url(../_img/molecule-background.svg);
  background-size: cover; }
  .molecules p {
    color: #fff;
    margin: 2rem 3rem 0 3rem; }
  .molecules h2 {
    color: #fff;
    padding-top: 4rem; }

.molecules a {
  border-color: inherit;
  padding: 0 .5rem;
}

.molecules a:hover {
  background-color: #fff;
  color: #EC5959;
  border-color: #fff;
}

.hexagon {
  float: left;
  width: 40%;
  max-width: 100%;
  margin: 1.5rem;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  -webkit-shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }

footer {
  padding: 2rem;
  clear: both;
  text-align: center; }
  footer p {
    margin-bottom: 0;
    color: #ffa2a2; }
  footer a {
    color: #ffa2a2; }

@media (min-width: 475px) {
  p, h2 {
    margin-left: 4rem;
    margin-right: 4rem; }

  .bubble-box > h2 {
    font-size: 11vw;
    margin-left: 10rem;
    margin-right: 10rem; } }
@media (min-width: 500px) {
  .bubble-box > h2 {
    font-size: 10vw;
    margin-left: 11rem;
    margin-right: 11rem; } }
@media (min-width: 600px) {
  p, h2 {
    margin-left: 6rem;
    margin-right: 6rem; }

  .logo {
    margin-left: 8rem; }

  .bubble-box > h2 {
    font-size: 10vw;
    padding-top: 4rem;
    margin-left: 8rem;
    margin-right: 8rem; } }
@media (min-width: 750px) {
  p, h2 {
    margin-left: 8rem;
    margin-right: 8rem; }

  .bubble-box > h2 {
    font-size: 9.5vw;
    padding-top: 4rem;
    margin-left: 9rem;
    margin-right: 9rem; }

  .col-2 {
    width: 50%; } }
@media (min-width: 800px) {
  h2 {
    font-size: 5vw; }

  .bubble-box > h2 {
    font-size: 9.1vw;
    margin-left: 7rem;
    margin-right: 7rem; } }
@media (min-width: 850px) {
  p, h2 {
    margin-left: 10rem;
    margin-right: 10rem; }

  .bubble-box > h2 {
    font-size: 9vw;
    margin-left: 6rem;
    margin-right: 6rem; } }
@media (min-width: 1000px) {
  p, h2 {
    margin-left: 25rem;
    margin-right: 25rem; }

  .logo {
    margin-left: 12rem; }

  .bubble-box > h2 {
    font-size: 8vw;
    margin-left: 12rem;
    margin-right: 12rem; } }
